@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
@import url('');
*{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}
body{
    scroll-behavior:smooth;
}
.header{
    margin: 0;
    background-image: url(/img/5.jpg    );
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
}
.logo{
    padding: 5px 10px;
    width: 200px;
    height: 50px;
}
.navbar-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.navbar-1 ul{
    padding: 10px 20px;
    display: inline-flex;
}
.navbar-1 ul li{
    display: flex ;
}
.navbar-1 ul li a{
    padding: 10px 24px;
    text-decoration: none;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100px;
}
.log-btn{
    background-color: rgb(0, 119, 36);
    border-radius: 5px;
}











.navbar-1 i{
    display: none;
    color: rgb(255, 255, 255);    
}


@media screen and (max-width: 930px){
    .navbar-1{
        padding: 10px 20px;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-1{
        display: block;
    }
    .navbar-1 i{
        display: flex;
        font-size: 30px;
        padding: auto 50px;
        cursor: pointer;
    }
    .navbar-1 ul{
        display: inline-block;
        position: fixed;
        top: 0;
        right: -240px;
        width: 200px;
        height: 100%;
        backdrop-filter: blur(15px);
        padding: 10px 20px;
        transition: right 0.1s;
    }
    .navbar-1 ul li a{
        color: rgb(255, 255, 255);
        text-align: center;
        width: 100%;
        padding: 10px 5px;
    }
    .navbar-1 ul .fa-xmark{
        display: flex;
        justify-content: right;
        padding: 10px 4px;
        color: aliceblue;
    }
    
}
/* -------------------------------Header Content ------------------ */
.header-content{
    display: block;
    padding: 70px 150px;
}
.header-content h1{
    font-size: 30px;
    color: rgb(255, 252, 252);
    margin-bottom: 20px;
font-family: 'Hind', sans-serif;
}

.header-content h3{
    font-size: 35px;
    color: rgb(255, 252, 252);
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.header-content h4{
    font-size: 18px;
    color: rgb(255, 252, 252);
    font-family: 'Hind', sans-serif;
}


/* ------------------------------------------------ services ------------------------------------- */

.services{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    }
.services h1{
    font-size: 50px;
    color: rgb(0, 94, 16);
    padding:20px 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.services .services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}
.services .services-list .card{
    border-radius: 15px;
    position: relative;
    width: 320px;
    overflow: hidden;
}
.services .services-list .card img{
    width: 100%;
    height: 450px;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.services .services-list .card h1{
    font-size: 50px;
    color: #ffffff;
    text-decoration: none;
}
.services .services-list .card p{
    font-size: 20px;
    text-decoration: none;
}
.services .services-list .card .info{
    height: 100%;
    background: linear-gradient( rgba(115, 230, 7, 0.178), rgba(0, 119, 6, 0.616));
    border-radius: 15px;
    width: 280px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: -100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    transition: all 0.5s;
}
.services .services-list .card:hover img{
    transform: scale(1.5);
}
.services .services-list .card:hover .info{
    bottom: 0px;
}
.services .services-list .card a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 100px;
    border: 2px solid white;
    margin: 29px auto;
    overflow: hidden;  
    transition: all 0.5s;
    color: aliceblue;
}
.services .services-list .card a:hover{
    background-color: #006d09;
    border: 2px solid transparent;
}
/* .services .services-list .card a span{
    background-color: rebeccapurple;
    width: auto ;f
    height: auto;
    position: absolute;
    left: 0;
} */
.services .services-list .card a i{
    padding: 0 10px;
}

    @media screen and (max-width: 930px){
        .services .services-list .card .info{
            height: 100%;
            bottom: 0;
            background: linear-gradient( rgba(3, 3, 3, 0) ,rgba(115, 230, 7, 0.178), rgb(0, 119, 6));
        }
    }
/* -------------------------------------------- Blog --------------------------- */
.blogs{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.blogs h1{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 88, 40);
}
.blogs h5{
    text-align: center;
    padding: 10px  30%;
    font-size: 20px;
}
.services-cards{
    width: 1100px;
    margin: 0 auto;
    columns: 3;
    column-gap: 25px;
    margin-bottom: 20px;
    animation-name: wazid;
    animation-duration: 2s;
}
.service-card{
    width: 350px;
    height: 100%;
    border-radius: 15px; 
    box-shadow: 10px 10px 27px 1px rgba(185, 185, 185, 0.589);
    break-inside: avoid;
    margin-bottom: 20px;
}
.services-cards a{
    text-decoration: none;
}
.service-card img{
    width: 310px;
    height: auto;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
}
.pulished-info-date{    
    padding: 10px 20px;
    padding-bottom: 0;
    font-size: 13px;
    color: rgb(0, 163, 0);
    text-decoration: none;
    display: block;
    width: 90px;
    position: relative;
}
.pulished-info-date::after{
    content: '';
    position: relative;
    display: block;
    height: 2px;
    width: 50%;
    left: 0;
    bottom: -8px;
    background-color: rgb(85, 158, 85);
    border-radius: 50px;
}
.pulished-info-date:hover .pulished-info-date::after{
    background-color: #060235;
}
.service-card h4{
    padding:  10px;
    font-size: 18px;
    color: rgb(0, 163, 0);
}

.service-card p{
    padding:  10px;
    color: rgba(5, 5, 5, 0.76);
}




.pulished-info{
    display: flex;
    border-top: 1px solid rgb(0, 163, 0);
    margin: 3px 5px;
}
.pulished-info a{
    text-decoration: none;
    padding: 10px 2px;
    color: rgb(0, 163, 0);
    padding-right: 10px;
}
.pulished-info i{
    padding: 5px;
    color: rgb(0, 163, 0);
    font-size: 13px;
}








@media screen and (max-width:  1100px){
    .header-content{
    padding: 60px 50px;
}
    .services-cards{
        width: 750px;
        margin: 0 auto;
        columns: 2;
        column-gap: 25px;
    }
}
@media screen and (max-width: 930px){

    .services-cards{
        width: 350px;
        margin: 0 auto;
        columns: 1 ;
        column-gap: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-2{
        display: block;
    }
    #responsive-menu{
        display: none;
    }
    .navbar-2 .fa-xmark{
        display: none;
    }
}
@media screen and (max-width: 700px){
    .section2 h5{
        padding: 10px  5%;
    }
}






/* ----------------------------------------------Contact Us---------------------------- */
.contact-form{
    width: 100%;
    background-image: url(/img/4.jpg);
    display: block;
    height: 100%;   
    margin: 0 auto;
    padding: 120px 0;
    background-position: center;
    background-size: cover;
}
.contact-input{
    display: block;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.contact-input h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    padding: 40px;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contact-form input[type=text] , textarea{
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: 1px solid #555555;
    border-width: thin;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 16px;
    resize: vertical;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}
.contact-form textarea{
    height: 300px;
}
.contact-input button{
    margin:0 auto;
    display: flex;
    width: 150px;
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: aliceblue;
    background: transparent;
    backdrop-filter: blur(15px);
}
.contact-input button:hover{
    border: 1px solid rgb(9, 255, 1);
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #060235;
    border-top-left-radius: 50px;
}
footer .logo{
    padding-right: 50px;
    padding-bottom: 100px;
}

footer .menu-links{
    display: block;
}
footer .menu-links li{
    display: flex;
}
footer .menu-links li a{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
}





footer .links{
    display: block;
    border-left: 2px solid white;
    padding: 10px;
}
footer .links li{
    display: flex;
    align-items: center;
}
footer .links li a{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
}
footer .links li i{
    font-size: 30px;
    width: 40px;
    padding:  4px 20px;
    color: #ffffff;
}










#about{
    display: flex;
    padding: 5px 100px;
}
#about .sec-1{
    flex-basis: 500px;
    overflow: hidden;
}
#about .sec-1 img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 15px;
    border: 1px solid rgb(0, 131, 0);
}
#about .sec2{}